{
  "env": {
    "targets": ">2%, not ie > 0, not op_mini all"
  },
  "jsc": {
    "loose": true,
    "parser": {
      "classProperty": true,
      "jsx": true,
      "syntax": "ecmascript"
    }
  }
}
